<h2 class="pt-5">Les articles plus recents dans : {{category_id}}</h2>

<div class="alert alert-primary" role="info">
<p>
    Les articles recommendés ici sont des articles récemment ajouté dans la base des articles. Une extraction
    à été faite a partir de item_metadata.csv utilisant le created_at_ts (timestamp de création).
</p>

<p>
    C'est une recommendation basé sur <strong>Récence</strong>, mettant en valeur la noveauté et la découverte.
</p>
</div>

<div class="row py-1">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for article in recent_articles: %}
        {% include("article/card.html") %}
    {% endfor %}
    </div>
</div>
