<h2 class="pt-5">Les articles plus appréciés</h2>

<div class="alert alert-primary" role="info">
<p>
    Les articles recommendés ici sont des articles les plus cliqués par les utilisateurs. Une extraction
    à été faite a partir de user_interactions.csv
</p>
<p>
    La recommendation est basé sur <strong>Collaborative Filtering</strong>.
</p>
</div>

<div class="row py-1">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for article in popular_articles: %}
            {% include("article/card.html") %}
        {% endfor %}
    </div>
</div>
