<h2 class="pt-5">Les articles similaires</h2>

<div class="alert alert-primary" role="info">
<p>
    Les articles similaire au premier article dans cet liste. Le fichier article_embeddings.pkl 
    à été utiliser pour calculer la distance entre un articles et 5 article plus proches.
</p>

<p>
    C'est une <strong>Content-Based</strong> recommendation basé sur les contenu des articles.
</p>
</div>

<div class="row py-1">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for article in recommended_articles: %}
        {% include("article/card.html") %}
    {% endfor %}
    </div>
</div>
